# Server
HOST=127.0.0.1 # Optional; default to 0.0.0.0
PORT=8443 # Optional; default to 443
HTTP_PORT=8080 # Optional; default to 80
SESSION_SECRET=MY_VERY_SECRET_SESSION_KEY # Encription key for sessions
# Server -> Database
PG__USER=root # Your postgresql username
PG__PASSWORD=root # Your postgresql password
PG__HOST=127.0.0.1 # Your postgresql host
PG__PORT=5432 # Your postgresql port
PG__DBNAME=DB_Name # Your postgresql database name
DATABASE_URL=postgres://user:password@localhost:5432/database_name # This is for SQLx CLI
# Trusted proxies
TRUSTED_PROXIES=203.0.113.0/24,203.0.113.10,203.0.113.11,198.51.100.42

# PUBLIC
PUBLIC_HOST=127.0.0.1 # Your public host
PUBLIC_PORT=8443 # Your public port

# VITE
VITE_HOST=127.0.0.1 # Optional; default to 0.0.0.0
VITE_PORT=5173 # Optional; default to 5173
VITE_APP_NAME="My App Name"
# Use the static path for CSR
VITE_BASE_PATH="/"
# VITE_BASE_PATH="/static"
VITE_ABORT_DELAY=10000
